body{background-image:url(images10/backgroundimagelab10.svg);background-size:cover;background-repeat: no-repeat;margin: 0;color: #38302e; font-family:serif}
header{background-color: #b4c292;display:flex;flex-direction:row;align-items:center;justify-content:space-between; padding: 2rem;}
nav>a{color: #38302e;font-size:24px; text-decoration: none;padding: 1rem 1rem;font-weight: 900;display: inline-block}
nav>a:hover{color: #38302e;text-decoration:none;text-shadow: 1px 1px 1px}
.welcometothegallopinggoose h2{color: black;font-size: 60px; text-align: center;text-shadow: 1px 1px 1px; background-color: rgba(255,255,255,.85);padding: 3rem 3rem 3rem}
main{background-color: rgba(255,255,255,.75);padding: 3rem 3rem 3rem 3rem;}
#menu{color: #B4654A; text-align: center;font-size:36px}
.dinner h3{color: #16697A;font-size: 24px}
.desserts h3{color: #16697A;font-size: 24px}
#drinks{color: #B4654A;font-size:36px}
.specialty-drinks h3{color: #16697A;font-size: 24px}
.beer h3{color: #16697A;font-size: 24px}
.beer{display:flex;gap: 3rem;align-items: center;}
#our-story{color: #B4654A;font-size:36px}
.contact-us{background-color: #b4c292;text-align: center;padding: 1rem;font-size: 24px;}


span{display: none;}

@media (max-width:812px){
    header{flex-wrap: wrap;position: relative;justify-content: center;}
    span{display: block}
    section span{position: absolute;top: 15rem;font-size: 2rem;left: 48%}
    section>h2{position: relative}
    .accordian{cursor: pointer;}
    article{display: none}
    article.show{display: block}
    section span{transform: rotate(180deg);}
    span.rotate{transform: rotate(0);}
    .welcometothegallopinggoose h2{font-size:36px;text-align: center}
    nav{flex-basis: 100%;position: absolute;top: 9rem;width: 100%;text-align:center}
    .beer img{max-height:20rem; width:50rem;display:flex}
    .contact-us{font-size:20px}
}